ul.nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") The Blog
  li.nav-item
    a.nav-link.active( href="/" ) Home
  li.nav-item
    a.nav-link( href="/about" ) About
  li.nav-item.justify-self-end
    a.nav-link( href="/contact" ) Contact